




## WP Defender - Prevent information disclosure ##

<FilesMatch "\.(txt|md|exe|sh|bak|inc|pot|po|mo|log|sql)$">
Order allow,deny
Deny from all
</FilesMatch>

<Files robots.txt>
Allow from all
</Files>

<Files ads.txt>
Allow from all
</Files>

## WP Defender - End ##